<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Create</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="createProductForm">
            <form [formGroup]="createProductForm">
                <div class="flex gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>Product Name</mat-label>
                        <input
                            matInput
                            placeholder="Product Name"
                            [formControlName]="'name'"
                        />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Product Code</mat-label>
                        <input
                            matInput
                            placeholder="Product Code"
                            [formControlName]="'code'"
                        />
                    </mat-form-field>
                </div>
                <div class="flex gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>Color Name</mat-label>
                        <input
                            matInput
                            placeholder="Color Name"
                            [formControlName]="'colorName'"
                        />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Color Code</mat-label>
                        <input
                            matInput
                            placeholder="Color Code"
                            [formControlName]="'colorCode'"
                        />
                    </mat-form-field>
                </div>
                <div class="flex gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>Consumption Unit</mat-label>
                        <input
                            matInput
                            placeholder="Consumption Unit"
                            [formControlName]="'consumptionUnit'"
                        />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Size Width Unit</mat-label>
                        <input
                            matInput
                            placeholder="Size Width Unit"
                            [formControlName]="'sizeWidthUnit'"
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Description</mat-label>
                        <input
                            matInput
                            placeholder="Description"
                            [formControlName]="'description'"
                        />
                    </mat-form-field>
                </div>
                <div class="mt-4 flex justify-end">
                    <button
                        (click)="createProduct()"
                        mat-raised-button
                        color="primary"
                        class="flex min-w-fit gap-2"
                    >
                        <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                        <span> Create </span>
                    </button>
                </div>
            </form>
        </ng-container>
    </div>
</div>
