.semi-step-detail-grid {
    grid-template-columns: auto 200px 50px 50px;
}

.material-step-detail-grid {
    grid-template-columns: auto 200px 50px 100px;
}

.product-step-detail-grid {
    grid-template-columns: auto 200px 50px 100px;
}