<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Add Steps</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="stepForm">
            <form [formGroup]="stepForm" class="flex flex-col gap-4">
                <div class="steps flex flex-col gap-2">
                    <div class="grid">
                        <div
                            class="steps-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Name</div>
                            <div class="hidden sm:block">Code</div>
                            <div class="hidden sm:block">Order Number</div>
                            <div class="hidden sm:block">Standard Time</div>
                            <div class="hidden sm:block">Output Per Hour</div>
                            <div class="hidden sm:block">Description</div>
                            <div class="hidden sm:block">
                                Steps Input/Output
                            </div>
                        </div>
                        <div class="max-h-30 overflow-y-scroll">
                            <ng-container *ngFor="let item of addedSteps">
                                <div
                                    class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >
                                    <div>
                                        {{ item.name }}
                                    </div>
                                    <div>{{ item.code }}</div>
                                    <div>{{ item.orderNumber }}</div>
                                    <div>{{ item.standardTime }}</div>
                                    <div>{{ item.outputPerHour }}</div>
                                    <div>
                                        {{
                                            item.description || 'No Description'
                                        }}
                                    </div>
                                    <button
                                        (click)="openStepIOsDialog(item)"
                                        mat-raised-button
                                        class="flex w-2/3 gap-2"
                                        color="primary"
                                    >
                                        <span> Add + </span>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Name"
                                    [formControlName]="'name'"
                            /></mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Code"
                                    [formControlName]="'code'"
                            /></mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    min="0"
                                    type="number"
                                    placeholder="Order Number"
                                    [formControlName]="
                                        'orderNumber'
                                    " /></mat-form-field
                            ><mat-form-field class="w-full">
                                <input
                                    matInput
                                    min="0"
                                    type="number"
                                    placeholder="Standard Time"
                                    [formControlName]="'standardTime'"
                            /></mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    min="0"
                                    type="number"
                                    placeholder="Output Per Hour"
                                    [formControlName]="'outputPerHour'"
                            /></mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Description"
                                    [formControlName]="'description'"
                            /></mat-form-field>
                            <button
                                disabled
                                mat-raised-button
                                class="flex w-2/3 gap-2"
                                color="primary"
                            >
                                <span> Add + </span>
                            </button>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                [disabled]="!stepForm.valid"
                                (click)="addValueToStepArray()"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add Step+ </span>
                            </button>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                [disabled]="!addedStepForm.valid"
                                (click)="submit()"
                                mat-raised-button
                                color="primary"
                                class="flex min-w-fit gap-2"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Submit </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>
