<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Add QualityStandards</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="qualityStandardForm">
            <form [formGroup]="qualityStandardForm" class="flex flex-col gap-4">
                <div class="qualityStandards flex flex-col gap-2">
                    <div class="grid">
                        <div
                            class="qualityStandards-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Material</div>
                            <div class="hidden sm:block">Name</div>
                            <div class="hidden sm:block">Description</div>
                        </div>
                        <div class="max-h-30 overflow-y-scroll">
                            <ng-container *ngFor="let item of qualityStandards">
                                <div
                                    class="qualityStandards-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >
                                    <div>
                                        {{ getMaterialName(item.materialId) }}
                                    </div>
                                    <div>{{ item.name }}</div>
                                    <div>
                                        {{
                                            item.description || 'No Description'
                                        }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="qualityStandards-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <mat-form-field class="w-full">
                                <mat-select [formControlName]="'materialId'">
                                    <mat-option value="none"
                                        >Select Material
                                    </mat-option>
                                    <ng-container *ngFor="let item of data">
                                        <mat-option value="{{ item.id }}">{{
                                            item.name
                                        }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Name"
                                    [formControlName]="'name'"
                            /></mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Description"
                                    [formControlName]="'description'"
                            /></mat-form-field>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="addValueToQualityStandardArray()"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add QualityStandard+ </span>
                            </button>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="submit()"
                                mat-raised-button
                                color="primary"
                                class="flex min-w-fit gap-2"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Submit </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>
