<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Create</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="createAccountForm">
            <form [formGroup]="createAccountForm">
                <div class="flex gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>Account Code</mat-label>
                        <input
                            matInput
                            placeholder="Account Code"
                            [formControlName]="'code'"
                        />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input
                            matInput
                            placeholder="Password"
                            [formControlName]="'password'"
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            placeholder="Email"
                            [formControlName]="'email'"
                        />
                    </mat-form-field>
                </div>
                <div formGroupName="personalInfo">
                    <mat-form-field class="w-full">
                        <mat-label>Full Name</mat-label>
                        <input
                            matInput
                            placeholder="Full Name"
                            [formControlName]="'fullName'"
                        />
                    </mat-form-field>
                    <div class="flex gap-4">
                        <mat-form-field class="w-full">
                            <mat-label>Position</mat-label>
                            <mat-select
                                [value]="2"
                                (selectionChange)="onPositionChange($event)"
                            >
                                <mat-option [value]="2">Staff</mat-option>
                                <mat-option [value]="1">Manager</mat-option>
                                <mat-option [value]="0"
                                    >Factory Director</mat-option
                                >
                                <mat-option [value]="3">Admin</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="showDepartment" class="w-full">
                            <mat-label>Department</mat-label>
                            <ng-container
                                *ngIf="
                                    this.createAccountForm.controls.personalInfo
                                        .value.position === 2
                                "
                            >
                                <mat-select
                                    [value]="
                                        '0f8cb729-c71f-47d1-9755-0310a39db359'
                                    "
                                    (selectionChange)="
                                        onDepartmentChange($event)
                                    "
                                >
                                    <mat-option
                                        [value]="
                                            '0f8cb729-c71f-47d1-9755-0310a39db359'
                                        "
                                        >{{
                                            'Inspection Department'
                                        }}</mat-option
                                    >
                                    <!-- <mat-option
                                        [value]="
                                            '56aeaab3-0dbe-4003-93d6-5961d228dc69'
                                        "
                                        >{{
                                            'Warehouse Department'
                                        }}</mat-option
                                    > -->
                                    <mat-option
                                        [value]="
                                            '237fadc5-40bc-4f66-b60a-ccea08620b90'
                                        "
                                        >{{
                                            'Production Department'
                                        }}</mat-option
                                    >
                                </mat-select>
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    this.createAccountForm.controls.personalInfo
                                        .value.position === 1
                                "
                            >
                                <mat-select
                                    [value]="
                                        '0f8cb729-c71f-47d1-9755-0310a39db359'
                                    "
                                    (selectionChange)="
                                        onDepartmentChange($event)
                                    "
                                >
                                    <mat-option
                                        [value]="
                                            '0f8cb729-c71f-47d1-9755-0310a39db359'
                                        "
                                        >{{
                                            'Inspection Department'
                                        }}</mat-option
                                    >
                                    <mat-option
                                        [value]="
                                            '56aeaab3-0dbe-4003-93d6-5961d228dc69'
                                        "
                                        >{{
                                            'Warehouse Department'
                                        }}</mat-option
                                    >
                                    <mat-option
                                        [value]="
                                            '237fadc5-40bc-4f66-b60a-ccea08620b90'
                                        "
                                        >{{
                                            'Production Department'
                                        }}</mat-option
                                    >
                                </mat-select>
                            </ng-container>
                        </mat-form-field>
                    </div>
                </div>

                <div class="mt-4 flex justify-end">
                    <button
                        (click)="createAccount()"
                        mat-raised-button
                        color="primary"
                        class="flex min-w-fit gap-2"
                    >
                        <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                        <span> Create </span>
                    </button>
                </div>
            </form>
        </ng-container>
    </div>
</div>
