<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Process Detail</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div
        class="font-poppins bg-card space-y-10 overflow-y-scroll p-8 dark:bg-gray-800"
    >
        <div class="grid grid-cols-12">
            <div class="col-span-4 flex flex-col gap-4">
                <div class="specification-name">
                    {{ process.name }}
                </div>
                <div class="specification-color">
                    Process Code - {{ process.code }}
                </div>
                <div class="specification-size">
                    Order Number: {{ process.orderNumber }}
                </div>
                <div
                    class="specification-inventoryQuantity"
                    *ngIf="process.description"
                >
                    Description: {{ process.description }}
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div class="measurement-detail flex flex-col gap-2">
                <span>STEPS</span>
                <div class="grid">
                    <div
                        class="production-process-step-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                    >
                        <div class="hidden sm:block">Name</div>
                        <div class="hidden sm:block">Code</div>
                        <div class="hidden sm:block">Order Number</div>
                        <div class="hidden sm:block">Standard Time</div>
                        <div class="hidden sm:block">Output Per Hour</div>
                        <div class="hidden sm:block">
                            Step Input/Output Detail
                        </div>
                    </div>
                    <div
                        class="production-process-step-grid grid max-h-50 items-center gap-4 overflow-y-scroll border-b px-6 py-3 md:px-8"
                    >
                        <ng-container *ngFor="let item of process.steps">
                            <div class="hidden sm:block">
                                {{ item.name }}
                            </div>
                            <div class="hidden sm:block">
                                {{ item.code }}
                            </div>
                            <div class="hidden sm:block">
                                {{ item.orderNumber }}
                            </div>
                            <div class="hidden sm:block">
                                {{ item.standardTime }}
                            </div>
                            <div class="hidden sm:block">
                                {{ item.outputPerHour }}
                            </div>
                            <div class="hidden sm:block">
                                <span
                                    (click)="
                                        openInputOutputDetailDialog(
                                            item.productionProcessStepIOs
                                        )
                                    "
                                >
                                    <mat-icon
                                        class="cursor-pointer text-blue-500 icon-size-5"
                                        [svgIcon]="
                                            'heroicons_outline:pencil-square'
                                        "
                                    ></mat-icon>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
