.production-plan-grid {
    grid-template-columns: 210px auto;
}

.semi-step-detail-grid {
    grid-template-columns: auto 200px 80px 100px;
}

.material-step-detail-grid {
    grid-template-columns: 200px 200px 300px 300px 100px auto;
}

.product-step-detail-grid {
    grid-template-columns: auto 300px 50px 100px;
}