.measurement-detail-grid {
    grid-template-columns: 240px auto;
}

.bill-of-material-grid {
    grid-template-columns: 90px 120px 120px 120px auto 120px 120px 90px;
}

.quality-standard-grid {
    grid-template-columns: 240px 240px auto;
}