<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Choose A Month To Create</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="monthsLists$ | async as monthsLists">
            <div *ngFor="let item of monthsLists" class="mb-10 border-b pb-2">
                <div><b>Month:</b> {{ item.month }}</div>

                <div class="hidden sm:block">
                    <div class="flex items-center">
                        <h1 class="hidden sm:block">
                            <b>Requirements List:</b>
                        </h1>
                        <div class="flex shrink-0 justify-end pl-12 sm:mt-0">
                            <button
                                (click)="add(item.requirements)"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <span> Choose </span>
                            </button>
                        </div>
                    </div>
                    <div
                        *ngFor="let item of item.requirements"
                        class="ml-10 flex items-center gap-1 pt-4"
                    >
                        <p
                            class="h-4 w-4 cursor-pointer rounded-full border border-gray-600"
                            [ngStyle]="{
                                'background-color': item.color,
                            }"
                            matTooltip="{{ item.color }}"
                        ></p>
                        <p>Size {{ item.size }}: {{ item.quantity }} pcs</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
