<form [formGroup]="form" class="">
    <mat-accordion>
        @for (semiProduct of semiFinishedProducts.controls; track semiProduct) {
            
            <p>{{semiProduct.get("name").invalid}}</p>
            <mat-expansion-panel>   
                <mat-expansion-panel-header>
                    <mat-panel-title>   
                        This is the expansion title
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error>Semi-finished product's name is required</mat-error>
                        <!-- @if (semiProduct.get('name').hasError('required')) {
                            <mat-error>Semi-finished product's name is required</mat-error>
                        }
                        @if (semiProduct.get('name').hasError('minlength')) {
                            <mat-error>Must be at least 6 characters</mat-error>
                        } -->
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        }
    </mat-accordion>
    <div>
        @if (form.get('semiFinishedProducts').invalid) {
            <button
                disabled
                mat-flat-button
                type="button"
                class="bg-slate-400 text-white"
                (click)="addSemiFinishedProduct()"
            >
                Add semi-finished product
            </button>
        } @else {
            <button
                mat-flat-button
                type="button"
                class="bg-cyan-600 text-white"
                (click)="addSemiFinishedProduct()"
            >
                Add semi-finished product
            </button>
        }
    </div>
</form>
