.production-plan-detail-grid {
    grid-template-columns: 100px auto 96px 96px 96px 100px;
}

.production-plan-header-grid {
    grid-template-columns: 100px auto 96px 96px 96px 110px;
}

.production-plans-grid {
    grid-template-columns: 120px auto 220px 100px 50px;
}

.production-plans-header-grid {
    grid-template-columns: 120px auto 220px 100px 60px;
}