<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Products</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center gap-3 sm:ml-4 sm:mt-0">
            <ng-container *ngIf="role === 'ProductionManager'">
                <button
                    [routerLink]="['create']"
                    mat-raised-button
                    class="flex min-w-fit gap-2"
                    color="primary"
                >
                    <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                    <span> Create </span>
                </button>
                <!-- <button (click)="showConfirmDialog()">asdasd</button> -->
                <div class="flex min-w-fit gap-2 rounded-3xl bg-[#0d9488] px-8">
                    <input
                        id="upload-excel"
                        class="hidden"
                        type="file"
                        [multiple]="false"
                        [accept]="'.xlsx, .xls'"
                        (change)="uploadExcelFile(uploadExcel.files)"
                        #uploadExcel
                    />
                    <label
                        class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full hover:bg-hover"
                        for="upload-excel"
                        matRipple
                    >
                        <mat-icon
                            class="text-black"
                            [svgIcon]="'heroicons_outline:plus-small'"
                        ></mat-icon>
                        <span>Upload</span>
                    </label>
                </div>
            </ng-container>
            <div class="flex gap-3" [formGroup]="filterForm">
                <div>
                    <!-- Search -->
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded min-w-64"
                        [subscriptSizing]="'dynamic'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"
                        ></mat-icon>
                        <input
                            matInput
                            [formControlName]="'search'"
                            [autocomplete]="'off'"
                            [placeholder]="'Search'"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <!-- Products list -->
    <div class="flex flex-auto flex-col overflow-scroll sm:mb-18">
        <ng-container *ngIf="products$ | async as products">
            <div class="grid">
                <!-- Header -->
                <div
                    class="product-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                >
                    <div class="hidden sm:block">Action</div>
                    <div class="hidden sm:block">Thumb</div>
                    <div class="hidden sm:block">Code</div>
                    <div class="hidden sm:block">Name</div>
                    <div class="hidden sm:block">Sizes List</div>
                    <div class="hidden sm:block">Colors List</div>
                    <div class="hidden sm:block">Created Date</div>
                    <div class="hidden sm:block">Status</div>
                </div>
                <!-- Rows -->
                <ng-container *ngIf="products$ | async as products">
                    <ng-container
                        *ngFor="let product of products; trackBy: trackByFn"
                    >
                        <div
                            class="product-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <!-- Id -->
                            <div class="hidden sm:block">
                                <div class="flex gap-3">
                                    <span [routerLink]="[product.id]">
                                        <mat-icon
                                            class="cursor-pointer text-blue-500 icon-size-5"
                                            [svgIcon]="
                                                'heroicons_outline:pencil-square'
                                            "
                                        ></mat-icon>
                                    </span>
                                </div>
                            </div>

                            <div class="flex items-center">
                                <div
                                    class="relative mr-6 flex h-12 w-12 flex-0 items-center justify-center overflow-hidden rounded border"
                                >
                                    <img
                                        class="w-8"
                                        *ngIf="
                                            product.imageURLs &&
                                            product.imageURLs.length > 0
                                        "
                                        [alt]="'Product image'"
                                        [src]="product.imageURLs[0]"
                                    />
                                    <div
                                        class="flex h-full w-full items-center justify-center text-center text-xs font-semibold uppercase leading-none"
                                        *ngIf="
                                            !product.imageURLs ||
                                            !product.imageURLs.length > 0
                                        "
                                    >
                                        NO THUMB
                                    </div>
                                </div>
                            </div>

                            <div
                                class="hidden sm:block"
                                matTooltip="{{ product.code }}"
                            >
                                {{ product.code }}
                            </div>

                            <div
                                class="hidden truncate sm:block"
                                matTooltip="{{ product.name }}"
                            >
                                {{ product.name }}
                            </div>

                            <div
                                class="hidden sm:block"
                                matTooltip="{{
                                    getFormattedSizesAndColors(product.sizes)
                                }}"
                            >
                                {{ getFormattedSizesAndColors(product.sizes) }}
                            </div>
                            <div class="flex gap-1 truncate">
                                <ng-container
                                    *ngFor="let item of product.colorCodes"
                                >
                                    <span
                                        class="h-4 w-4 cursor-pointer rounded-full border border-gray-600"
                                        [ngStyle]="{
                                            'background-color': item,
                                        }"
                                        matTooltip="{{ item }}"
                                    ></span>
                                </ng-container>
                            </div>

                            <div class="hidden sm:block">
                                {{
                                    product.createdDate
                                        | date: 'MMM dd YYYY, h:mm a'
                                }}
                            </div>

                            <div class="hidden sm:block">
                                <span [class]="product.status | statusClass">
                                    <ng-container
                                        *ngIf="
                                            product.status === 'InProduction'
                                        "
                                    >
                                        In Production
                                    </ng-container>
                                    <ng-container
                                        *ngIf="
                                            product.status !== 'InProduction'
                                        "
                                    >
                                        {{ product.status }}
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <mat-paginator
                class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                [ngClass]="{ 'pointer-events-none': isLoading }"
                [length]="pagination.totalRows"
                [pageIndex]="pagination.pageIndex"
                [pageSize]="pagination.pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [showFirstLastButtons]="true"
            >
            </mat-paginator>
        </ng-container>
    </div>
</div>

<!-- Notification -->
<a class="cursor-pointer" *ngIf="flashMessage">
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'success'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'success'"
    >
        <span fuseAlertTitle>Success</span>
        {{ message }}
    </fuse-alert>
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'error'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'error'"
    >
        <span fuseAlertTitle>Error</span>
        {{ message }}
    </fuse-alert>
</a>
