<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Add Production Series</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div
        class="font-poppins bg-card space-y-6 overflow-y-scroll p-8 dark:bg-gray-800"
    >
        <ng-container *ngIf="addSeriesForm">
            <form [formGroup]="addSeriesForm">
                <div class="series flex flex-col gap-2">
                    <div class="grid">
                        <div
                            class="series-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Code</div>
                            <div class="hidden sm:block">Required Quantity</div>
                            <div class="hidden sm:block"></div>
                        </div>
                        <div
                            class="series-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    [formControlName]="'code'"
                                />
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="number"
                                    min="0"
                                    [formControlName]="'quantity'"
                            /></mat-form-field>
                            <button
                                (click)="addValueToSeriesArray()"
                                mat-raised-button
                                class="mb-4 flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add Series + </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <div class="gap-4">
            <div class="hidden sm:block">
                Total Required Quantity: {{ requiredQuantity }}
            </div>
            <div class="hidden sm:block">
                Total Added Required Quantity: {{ totalQuantity }}
            </div>
        </div>
        <div class="grid grid-cols-12">
            <div
                *ngIf="totalQuantity > 0"
                class="col-span-12 flex flex-col gap-4"
            >
                <div>LIST ADDED SERIES</div>
                <div class="series flex flex-col gap-2">
                    <div class="grid">
                        <div
                            class="series-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Code</div>
                            <div class="hidden sm:block">Required Quantity</div>
                        </div>
                        <div class="max-h-30 overflow-y-scroll">
                            <ng-container *ngFor="let item of seriess">
                                <div
                                    class="series-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >
                                    <div>{{ item.code }}</div>
                                    <div>{{ item.quantity }}</div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="mt-4 flex justify-end">
                <button
                    (click)="onProductionSeriesSubmit()"
                    mat-raised-button
                    color="primary"
                    class="flex min-w-fit gap-2"
                >
                    <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                    <span>Submit Series</span>
                </button>
            </div>
        </div>
    </div>
</div>
