<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Departments</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center gap-3 sm:ml-4 sm:mt-0">
            <div class="flex gap-3" [formGroup]="filterForm">
                <div>
                    <!-- Search -->
                    <!-- <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded min-w-64"
                        [subscriptSizing]="'dynamic'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"
                        ></mat-icon>
                        <input
                            matInput
                            [formControlName]="'search'"
                            [autocomplete]="'off'"
                            [placeholder]="'Search'"
                        />
                    </mat-form-field> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Departments list -->
    <div
        appHorizontalScroll
        class="flex flex-auto flex-col overflow-scroll sm:mb-18"
    >
        <ng-container *ngIf="departments$ | async as departments">
            <mat-tab-group class="mx-auto w-fit rounded-xl bg-gray-100 pt-4">
                <ng-container
                    *ngFor="let department of departments; trackBy: trackByFn"
                >
                    <mat-tab [label]="department.name">
                        <div class="grid">
                            <div
                                class="department-detail-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            >
                                <div class="mr-10 hidden sm:block">
                                    Staff Code
                                </div>
                                <div class="hidden sm:block">
                                    Staff Full Name
                                </div>
                                <div class="mr-10 hidden sm:block">
                                    Position
                                </div>
                                <div class="hidden sm:block">Status</div>
                            </div>
                            <div
                                class="department-detail-grid grid max-h-100 items-center gap-4 overflow-y-scroll border-b bg-white px-6 py-3 md:px-8"
                            >
                                <ng-container
                                    *ngFor="let item of department.staffs"
                                >
                                    <div class="mr-10 hidden sm:block">
                                        {{ item.code }}
                                    </div>
                                    <div class="hidden sm:block">
                                        {{ item.fullName }}
                                    </div>
                                    <div class="hidden sm:block">
                                        {{ item.position }}
                                    </div>
                                    <div class="hidden sm:block">
                                        <ng-container
                                            *ngIf="
                                                item.status === 'In_production'
                                            "
                                            >In Production</ng-container
                                        >
                                        <ng-container
                                            *ngIf="item.status === 'Inactive'"
                                            >Inactive</ng-container
                                        >
                                        <ng-container
                                            *ngIf="item.status === 'Active'"
                                            >Active</ng-container
                                        >
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </ng-container>
    </div>
</div>

<!-- Notification -->
<a class="cursor-pointer" *ngIf="flashMessage">
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'success'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'success'"
    >
        <span fuseAlertTitle>Success</span>
        {{ message }}
    </fuse-alert>
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'error'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'error'"
    >
        <span fuseAlertTitle>Error</span>
        {{ message }}
    </fuse-alert>
</a>
