<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Add Bill Of Materials</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="measurementForm">
            <form [formGroup]="measurementForm" class="flex flex-col gap-4">
                <div class="boms flex flex-col gap-2">
                    <div class="grid">
                        <div
                            class="boms-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Material</div>
                            <div class="hidden sm:block">Size Width</div>
                            <div class="hidden sm:block">Consumption</div>
                            <div class="hidden sm:block">Description</div>
                        </div>
                        <div class="max-h-30 overflow-y-scroll">
                            <ng-container *ngFor="let item of boms">
                                <div
                                    class="boms-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >
                                    <div>
                                        {{ getMaterialName(item.materialId) }}
                                    </div>
                                    <div>{{ item.sizeWidth }}</div>
                                    <div>{{ item.consumption }}</div>
                                    <div>
                                        {{
                                            item.description || 'No Description'
                                        }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="boms-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <div class="flex gap-4">
                                <mat-form-field class="w-full">
                                    <mat-select
                                        [formControlName]="'materialId'"
                                    >
                                        <mat-option value="none"
                                            >Select Material
                                        </mat-option>
                                        <ng-container *ngFor="let item of data">
                                            <mat-option value="{{ item.id }}">{{
                                                item.name
                                            }}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    min="0"
                                    type="number"
                                    placeholder="Size Width"
                                    [formControlName]="
                                        'sizeWidth'
                                    " /></mat-form-field
                            ><mat-form-field class="w-full">
                                <input
                                    matInput
                                    min="0"
                                    type="number"
                                    placeholder="Consumption"
                                    [formControlName]="'consumption'"
                            /></mat-form-field>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Description"
                                    [formControlName]="'description'"
                            /></mat-form-field>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="addValueToBomArray()"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add Bill Of Material+ </span>
                            </button>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="submit()"
                                mat-raised-button
                                color="primary"
                                class="flex min-w-fit gap-2"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Submit </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>
