<div
    class="-my-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col overflow-y-scroll p-8"
>
    <div
        class="font-poppins bg-card mx-8 my-6 space-y-10 rounded-lg p-8 dark:bg-gray-800"
    >
        <div class="grid w-full grid-cols-12 gap-4">
            <div
                class="col-span-3 flex flex-col gap-4 rounded-lg bg-white p-4 shadow-md"
            >
                <div class="flex space-x-1">
                    <div class="text-xl font-bold text-gray-800">
                        {{ productionPlan.code | uppercase }} -
                        {{ productionPlan.name | uppercase }}
                    </div>
                </div>
                <div class="flex items-center justify-between text-gray-600">
                    <div>
                        <strong class="text-gray-500">Type:</strong>
                        {{ productionPlan.type | uppercase }}
                    </div>
                    <span
                        class="text-lg font-bold"
                        [class]="productionPlan.status | statusClass"
                    >
                        <ng-container
                            *ngIf="productionPlan.status === 'Approved'"
                        >
                            Waiting for production
                        </ng-container>
                        <ng-container
                            *ngIf="productionPlan.status === 'InProgress'"
                        >
                            In Progress
                        </ng-container>
                        <ng-container
                            *ngIf="
                                productionPlan.status !== 'Approved' &&
                                productionPlan.status !== 'InProgress'
                            "
                        >
                            {{ productionPlan.status }}
                        </ng-container>
                    </span>
                </div>
                <div class="text-gray-600">
                    <strong class="text-gray-500">Created Date:</strong>
                    {{
                        productionPlan.createdDate | date: 'MMM dd YYYY, h:mm a'
                    }}
                </div>
                <div class="text-gray-600">
                    <strong class="text-gray-500">Timeline:</strong>
                    {{ productionPlan.expectedStartingDate | date }}
                    -
                    {{ productionPlan.dueDate | date }}
                </div>
                <div
                    class="text-gray-600"
                    *ngIf="productionPlan.actualStartingDate"
                >
                    <strong class="text-gray-500"
                        >Actual execution timeline:</strong
                    >
                    <br />
                    From
                    {{
                        productionPlan.actualStartingDate
                            | date: 'MMM dd YYYY, h:mm a'
                    }}

                    <span *ngIf="productionPlan.completionDate; else ongoing">
                        <br />
                        To
                        {{
                            productionPlan.completionDate
                                | date: 'MMM dd YYYY, h:mm a'
                        }}
                    </span>
                    <ng-template #ongoing>- Ongoing</ng-template>
                </div>
                <div class="text-gray-600">
                    <strong class="text-gray-500">Creator:</strong>
                    {{ productionPlan.creatorName }}
                </div>
                <div class="text-gray-600" *ngIf="productionPlan.reviewerName">
                    <strong class="text-gray-500">Reviewer:</strong>
                    {{ productionPlan.reviewerName }}
                </div>
                <div class="text-gray-600" *ngIf="productionPlan.description">
                    <strong class="text-gray-500">Description:</strong>
                    {{ productionPlan.description }}
                </div>
            </div>
            <div class="col-span-9 space-y-8">
                <div
                    class="flex shrink-0 items-center justify-end gap-3 pt-4 sm:ml-4 sm:mt-0"
                >
                    <ng-container
                        *ngIf="
                            role === 'FactoryDirector' &&
                            productionPlan.status === 'Approved' &&
                            productionPlan.childProductionPlans &&
                            productionPlan.childProductionPlans.length === 0
                        "
                    >
                        <button
                            class="w-1/6 rounded-full"
                            (click)="deleteProductionPlan(productionPlan.id)"
                            mat-menu-item
                        >
                            Delete
                            <mat-icon
                                class="cursor-pointer text-blue-500 icon-size-5"
                                svgIcon="heroicons_outline:x-circle"
                            ></mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="role === 'ProductionManager'">
                        <button
                            (click)="
                                openCreateMonthProductionPlanDialog(
                                    productionPlan.id
                                )
                            "
                            [disabled]="
                                !(
                                    productionPlan.status !== 'Pending' &&
                                    productionPlan.childPlanRequiredCount > 0
                                )
                            "
                            mat-raised-button
                            class="flex min-w-fit gap-2"
                            color="primary"
                        >
                            <mat-icon
                                svgIcon="heroicons_outline:inbox"
                            ></mat-icon>
                            <span> Create Month Production Plans </span>
                        </button></ng-container
                    >
                </div>
                <div class="grid">
                    <div class="production-plan-detail flex flex-col gap-2">
                        <strong class="text-gray-500"
                            >LIST PRODUCTION REQUIREMENTS</strong
                        >
                        <div class="grid">
                            <div
                                class="production-plan-detail-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            >
                                <div class="hidden sm:block">Product Code</div>
                                <div class="hidden sm:block">Product Name</div>
                                <div class="hidden sm:block">Product Size</div>
                                <div class="hidden sm:block">Product Color</div>
                                <div class="hidden sm:block">Required</div>
                                <div class="hidden sm:block">
                                    Estimations List
                                </div>
                            </div>
                            <div
                                class="production-plan-detail-grid grid max-h-50 items-center gap-4 overflow-y-scroll border-b px-6 py-3 md:px-8"
                            >
                                <ng-container
                                    *ngFor="
                                        let item of productionPlan.productionRequirements
                                    "
                                >
                                    <div class="hidden sm:block">
                                        {{
                                            item.productSpecification
                                                .productCode
                                        }}
                                    </div>
                                    <div
                                        class="hidden truncate sm:block"
                                        matTooltip="{{
                                            item.productSpecification
                                                .productName
                                        }}"
                                    >
                                        {{
                                            item.productSpecification
                                                .productName
                                        }}
                                    </div>
                                    <div class="hidden sm:block">
                                        {{ item.productSpecification.size }}
                                    </div>
                                    <p
                                        class="h-4 w-4 cursor-pointer rounded-full border border-gray-600"
                                        [ngStyle]="{
                                            'background-color':
                                                item.productSpecification
                                                    .colorCode,
                                        }"
                                        matTooltip="{{
                                            item.productSpecification.colorCode
                                        }}"
                                    ></p>
                                    <div class="hidden sm:block">
                                        {{ item.quantity }} pcs
                                    </div>
                                    <div class="hidden sm:block">
                                        <span
                                            (click)="
                                                openProductionEstimationsDialog(
                                                    item.productionEstimations
                                                )
                                            "
                                        >
                                            <mat-icon
                                                class="cursor-pointer text-blue-500 icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_outline:pencil-square'
                                                "
                                            ></mat-icon>
                                        </span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container
                    *ngIf="
                        productionPlan.childProductionPlans &&
                        productionPlan.childProductionPlans.length > 0
                    "
                >
                    <div class="grid w-full">
                        <div class="production-plans flex flex-col gap-2">
                            <strong class="text-gray-500"
                                >LIST MONTH PRODUCTION PLANS</strong
                            >

                            <div class="grid">
                                <div
                                    class="production-plans-header-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                >
                                    <div class="hidden sm:block">Code</div>
                                    <div class="hidden sm:block">Name</div>
                                    <div class="hidden sm:block">Timeline</div>
                                    <div class="hidden sm:block">Status</div>
                                    <div class="hidden sm:block">Action</div>
                                </div>
                                <div
                                    class="production-plans-grid grid max-h-50 items-center gap-4 overflow-y-scroll border-b px-6 py-3 md:px-8"
                                >
                                    <ng-container
                                        *ngFor="
                                            let item of productionPlan.childProductionPlans
                                        "
                                    >
                                        <div class="hidden sm:block">
                                            {{ item.code }}
                                        </div>
                                        <div
                                            class="hidden truncate sm:block"
                                            matTooltip="{{ item.name }}"
                                        >
                                            {{ item.name }}
                                        </div>
                                        <div class="hidden sm:block">
                                            {{
                                                item.expectedStartingDate | date
                                            }}
                                            - {{ item.dueDate | date }}
                                        </div>
                                        <div class="hidden sm:block">
                                            <span
                                                [class]="
                                                    item.status | statusClass
                                                "
                                            >
                                                <ng-container
                                                    *ngIf="
                                                        item.status ===
                                                        'InProgress'
                                                    "
                                                >
                                                    In Progress
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="
                                                        item.status !==
                                                        'InProgress'
                                                    "
                                                >
                                                    {{ item.status }}
                                                </ng-container>
                                            </span>
                                        </div>
                                        <div class="hidden sm:block">
                                            <span
                                                [routerLink]="[
                                                    '../../months/',
                                                    item.id,
                                                ]"
                                            >
                                                <mat-icon
                                                    class="cursor-pointer text-blue-500 icon-size-5"
                                                    [svgIcon]="
                                                        'heroicons_outline:pencil-square'
                                                    "
                                                ></mat-icon>
                                            </span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<a class="cursor-pointer" *ngIf="flashMessage">
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'success'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'success'"
    >
        <span fuseAlertTitle>Success</span>
        {{ message }}
    </fuse-alert>
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'error'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'error'"
    >
        <span fuseAlertTitle>Error</span>
        {{ message }}
    </fuse-alert>
</a>
