<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Add Steps Input/Output</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <div class="font-poppins gap-4 overflow-y-scroll p-8 dark:bg-gray-800">
        <div class="space-y-2 pb-10">
            <mat-radio-group
                aria-label="Select an option"
                [(ngModel)]="category"
            >
                <mat-label>Select category:</mat-label>

                <div class="justify-content-between flex space-x-10">
                    <ng-container *ngFor="let category of categories">
                        <mat-radio-button [value]="category">
                            {{ category }}
                        </mat-radio-button>
                    </ng-container>
                </div>
            </mat-radio-group>
        </div>
        <div *ngIf="category === 'Material'" class="grid">
            <ng-container *ngIf="matForm">
                <form [formGroup]="matForm" class="flex flex-col gap-4">
                    <div class="steps flex flex-col gap-2">
                        <div
                            class="items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <div class="gap-4">
                                <mat-form-field class="w-full">
                                    <mat-label>Material</mat-label>
                                    <mat-select
                                        [formControlName]="'materialId'"
                                    >
                                        <mat-option value="none"
                                            >Select Material
                                        </mat-option>
                                        <ng-container
                                            *ngFor="let item of materialList"
                                        >
                                            <mat-option value="{{ item.id }}">{{
                                                item.name
                                            }}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label>Select Type</mat-label>
                                <mat-select [formControlName]="'type'">
                                    <mat-option value="Input">Input</mat-option>
                                    <mat-option value="Output"
                                        >Output</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Consumtion</mat-label>

                                <input
                                    matInput
                                    type="number"
                                    min="0"
                                    placeholder="Consumtion"
                                    [formControlName]="'consumption'"
                            /></mat-form-field>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="addMatValueToStepArray()"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add Step Input/Output+ </span>
                            </button>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
        <div *ngIf="category === 'Product'" class="grid">
            <ng-container *ngIf="proForm">
                <form [formGroup]="proForm" class="flex flex-col gap-4">
                    <div class="steps flex flex-col gap-2">
                        <div
                            class="items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <mat-form-field class="w-full">
                                <mat-label>Select Type</mat-label>
                                <mat-select [formControlName]="'type'">
                                    <mat-option value="Input">Input</mat-option>
                                    <mat-option value="Output"
                                        >Output</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Quantity</mat-label>

                                <input
                                    matInput
                                    type="number"
                                    min="0"
                                    placeholder="Quantity"
                                    [formControlName]="'quantity'"
                            /></mat-form-field>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="addProValueToStepArray()"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add Step Input/Output+ </span>
                            </button>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
        <div *ngIf="category === 'Semi'" class="grid">
            <ng-container *ngIf="semiForm">
                <form [formGroup]="semiForm" class="flex flex-col gap-4">
                    <div class="steps flex flex-col gap-2">
                        <div
                            class="items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <mat-form-field class="w-full">
                                <mat-label>Semi Finished Product</mat-label>
                                <mat-select
                                    [formControlName]="
                                        'semiFinishedProductCode'
                                    "
                                >
                                    <mat-option value="none"
                                        >Select Semi Finished Product
                                    </mat-option>
                                    <ng-container *ngFor="let item of semiList">
                                        <mat-option value="{{ item.code }}">{{
                                            item.name
                                        }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Select Type</mat-label>
                                <mat-select [formControlName]="'type'">
                                    <mat-option value="Input">Input</mat-option>
                                    <mat-option value="Output"
                                        >Output</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Quantity</mat-label>

                                <input
                                    matInput
                                    min="0"
                                    type="number"
                                    placeholder="Quantity"
                                    [formControlName]="'quantity'"
                            /></mat-form-field>
                        </div>
                        <div class="mt-4 flex justify-end">
                            <button
                                (click)="addSemiValueToStepArray()"
                                mat-raised-button
                                class="flex min-w-fit gap-2"
                                color="primary"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:inbox"
                                ></mat-icon>
                                <span> Add Step Input/Output+ </span>
                            </button>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
        <ng-container *ngIf="stepIOs.length > 0">
            <span class="py-5">List Added Steps Input/Output</span>
            <ng-container *ngIf="addedMaterialList.length > 0">
                <div class="mt-10 max-h-50 overflow-y-scroll">
                    <span class="mt-10">Materials</span>
                    <div
                        class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                    >
                        <span>Material Name</span>
                        <span>Type</span>
                        <span>Consumption</span>
                    </div>
                    <ng-container *ngFor="let item of addedMaterialList">
                        <div
                            class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <div>
                                {{ getMaterialName(item.materialId) }}
                            </div>
                            <div>{{ item.type }}</div>
                            <div>{{ item.consumption }}</div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="addedProductList.length > 0">
                <div class="mt-10 max-h-50 overflow-y-scroll">
                    <span>Product</span>
                    <div
                        class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                    >
                        <span>Type</span>
                        <span>Quantity</span>
                    </div>
                    <ng-container *ngFor="let item of addedProductList">
                        <div
                            class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <div>
                                {{ item.type }}
                            </div>
                            <div>{{ item.quantity }}</div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="addedSemiList.length > 0">
                <div class="mt-10 max-h-50 overflow-y-scroll">
                    <span>Semi Finished Product</span>
                    <div
                        class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                    >
                        <span>Semi Finished Product Name</span>
                        <span>Type</span>
                        <span>Quantity</span>
                    </div>
                    <ng-container *ngFor="let item of addedSemiList">
                        <div
                            class="steps-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <div>
                                {{ item.semiFinishedProductCode }}
                            </div>
                            <div>{{ item.type }}</div>
                            <div>{{ item.quantity }}</div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <div class="mt-4 flex justify-end">
            <button
                [disabled]="stepIOs.length === 0"
                (click)="submit()"
                mat-raised-button
                color="primary"
                class="flex min-w-fit gap-2"
            >
                <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                <span> Submit </span>
            </button>
        </div>
    </div>
</div>
