<div
    class="bg-card flex min-w-0 flex-auto flex-col overflow-y-scroll dark:bg-transparent sm:absolute sm:inset-0"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-4 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="flex flex-col">
            <div class="text-2xl font-extrabold tracking-tight">Product</div>
        </div>
        <!-- Actions -->
        <div
            *ngIf="product.status === 'Approved'"
            class="mt-6 flex shrink-0 items-center gap-3 sm:ml-4 sm:mt-0"
        >
            <button
                (click)="openCreateYearProductionPlanDialog()"
                mat-raised-button
                class="flex min-w-fit gap-2"
                color="primary"
            >
                <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                <span> Create Year Production Plan </span>
            </button>
        </div>
    </div>

    <ng-container *ngIf="product">
        <div
            class="font-poppins bg-card mx-8 my-6 space-y-1 rounded-lg p-8 dark:bg-gray-800"
        >
            <div class="grid w-full grid-cols-12 space-x-5 pb-10">
                <div class="col-span-3 flex">
                    <div
                        class="relative mr-6 flex h-72 w-72 flex-0 items-center justify-center overflow-hidden rounded border"
                    >
                        <img
                            class="w-8"
                            *ngIf="
                                product.imageURLs &&
                                product.imageURLs.length > 0
                            "
                            [alt]="'Product image'"
                            [src]="product.imageURLs[0]"
                        />
                        <div
                            class="flex h-full w-full items-center justify-center text-center text-xl font-semibold uppercase leading-none"
                            *ngIf="
                                !product.imageURLs ||
                                !(product.imageURLs.length > 0)
                            "
                        >
                            No Image
                        </div>
                    </div>
                </div>
                <div class="col-span-8 flex w-full flex-col gap-4">
                    <div class="flex justify-around gap-8">
                        <div class="flex flex-col gap-2">
                            <div class="product-name text-xl font-semibold">
                                {{ product.name | uppercase }}
                            </div>
                            <div
                                class="product-code font-semibold text-gray-700"
                            >
                                {{ product.code | uppercase }}
                            </div>
                            <div class="product-description italic">
                                {{ product.description || 'No Description' }}
                            </div>
                        </div>
                        <div class="flex flex-col gap-4">
                            <div class="size">
                                <span class="font-semibold">SIZE</span>
                                <mat-chip-set aria-label="Dog selection">
                                    <mat-chip
                                        class="bg-blue-300"
                                        *ngFor="let item of product.sizes"
                                    >
                                        {{ item }}
                                    </mat-chip>
                                </mat-chip-set>
                            </div>

                            <div class="color">
                                <span class="font-semibold">COLOR</span>
                                <div class="flex gap-1 truncate">
                                    <ng-container
                                        *ngFor="let item of product.colorCodes"
                                    >
                                        <span
                                            class="h-8 w-8 cursor-pointer rounded-full border border-gray-600"
                                            [ngStyle]="{
                                                'background-color': item,
                                            }"
                                            matTooltip="{{ item }}"
                                        ></span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="category">
                                <span class="font-semibold">CATEGORY</span>
                                <mat-chip-set aria-label="Dog selection">
                                    <mat-chip>
                                        {{ product.category.name }}
                                    </mat-chip>
                                </mat-chip-set>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-tab-group class="mx-auto w-fit rounded-xl bg-gray-100 pt-4">
                <ng-container *ngIf="semies && semies.length > 0">
                    <mat-tab
                        class=""
                        [label]="'SEMI FINISHED PRODUCTS List' | titlecase"
                    >
                        <div class="grid">
                            <div
                                class="semi-finished-product-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            >
                                <div class="mr-10 hidden sm:block">Code</div>
                                <div class="hidden sm:block">Name</div>
                                <div class="hidden sm:block">Quantity</div>
                            </div>
                            <div
                                class="semi-finished-product-grid grid max-h-100 items-center gap-4 overflow-y-scroll border-b bg-white px-6 py-3 md:px-8"
                            >
                                <ng-container *ngFor="let item of semies">
                                    <div class="mr-10 hidden sm:block">
                                        {{ item.code }}
                                    </div>
                                    <div class="hidden sm:block">
                                        {{ item.name }}
                                    </div>
                                    <div class="hidden sm:block">
                                        {{ item.quantity }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-tab>
                </ng-container>
                <ng-container
                    *ngIf="
                        product.specifications &&
                        product.specifications.length > 0
                    "
                >
                    <mat-tab [label]="'Specifications List' | titlecase">
                        <div class="grid">
                            <div
                                class="product-specifications-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            >
                                <div class="ml-6 hidden sm:block">Thump</div>
                                <div class="hidden sm:block">Size</div>
                                <div class="hidden sm:block">Color</div>
                                <div class="hidden pl-10 sm:block">
                                    Inventory Quantity
                                </div>
                            </div>
                            <div class="max-h-200 overflow-y-scroll">
                                <mat-accordion class="specsList">
                                    <ng-container
                                        *ngFor="
                                            let item of product.specifications
                                        "
                                    >
                                        <mat-expansion-panel
                                            class="m-0"
                                            (opened)="openSpecPanel(item.id)"
                                        >
                                            <mat-expansion-panel-header>
                                                <mat-panel-description
                                                    class="product-specifications-item-grid grid items-center border-b py-3 hover:bg-gray-50 hover:text-gray-800 md:px-8"
                                                >
                                                    <div
                                                        class="flex items-center"
                                                    >
                                                        <div
                                                            class="relative flex h-12 w-12 flex-0 items-center justify-center overflow-hidden rounded border"
                                                        >
                                                            <img
                                                                class="w-8"
                                                                *ngIf="
                                                                    item.imageURLs &&
                                                                    item
                                                                        .imageURLs
                                                                        .length >
                                                                        0
                                                                "
                                                                [alt]="
                                                                    'Product image'
                                                                "
                                                                [src]="
                                                                    item
                                                                        .imageURLs[0]
                                                                "
                                                            />
                                                            <div
                                                                class="flex h-12 w-12 items-center justify-center text-center text-xs font-semibold uppercase leading-none"
                                                                *ngIf="
                                                                    !item.imageURLs ||
                                                                    !item
                                                                        .imageURLs
                                                                        .length >
                                                                        0
                                                                "
                                                            >
                                                                NO THUMB
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="hidden sm:block"
                                                    >
                                                        {{ item.size }}
                                                    </div>
                                                    <span
                                                        class="h-4 w-4 cursor-pointer rounded-full border border-gray-600"
                                                        [ngStyle]="{
                                                            'background-color':
                                                                item.colorCode,
                                                        }"
                                                        matTooltip="{{
                                                            item.colorCode
                                                        }}"
                                                    ></span>
                                                    <div
                                                        class="hidden pl-10 sm:block"
                                                    >
                                                        {{
                                                            item.inventoryQuantity ||
                                                                0
                                                        }}
                                                    </div>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <ng-container *ngIf="specification">
                                                <p
                                                    class="m-6 text-lg font-bold"
                                                >
                                                    Specification Detail
                                                </p>

                                                <mat-tab-group>
                                                    <ng-container
                                                        *ngIf="
                                                            specification.measurements &&
                                                            specification
                                                                .measurements
                                                                .length > 0
                                                        "
                                                    >
                                                        <mat-tab
                                                            label="Measurements List"
                                                        >
                                                            <div
                                                                class="flex flex-col gap-4"
                                                            >
                                                                <div
                                                                    class="measurements flex flex-col gap-2"
                                                                >
                                                                    <div
                                                                        class="grid w-full"
                                                                    >
                                                                        <div
                                                                            class="measurements-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                                                        >
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Name
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Measure
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="max-h-100 overflow-y-scroll"
                                                                        >
                                                                            <ng-container
                                                                                *ngFor="
                                                                                    let item of specification.measurements
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="measurements-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                                                                >
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item.name
                                                                                        }}
                                                                                    </div>
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item.measure
                                                                                        }}
                                                                                        {{
                                                                                            item.unit
                                                                                        }}
                                                                                    </div>
                                                                                </div>
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-tab>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="
                                                            specification.billOfMaterials &&
                                                            specification
                                                                .billOfMaterials
                                                                .length > 0
                                                        "
                                                    >
                                                        <mat-tab
                                                            [label]="
                                                                'BILL OF MATERIALS List'
                                                                    | titlecase
                                                            "
                                                        >
                                                            <div
                                                                class="flex flex-col gap-4"
                                                            >
                                                                <div
                                                                    class="bill-of-material flex flex-col gap-2"
                                                                >
                                                                    <div
                                                                        class="grid w-full"
                                                                    >
                                                                        <div
                                                                            class="bill-of-material-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                                                        >
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Name
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Code
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Color
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Size
                                                                                Width
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Consumption
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="max-h-100 overflow-y-scroll"
                                                                        >
                                                                            <ng-container
                                                                                *ngFor="
                                                                                    let item of specification.billOfMaterials
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="bill-of-material-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                                                                >
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item
                                                                                                .material
                                                                                                .name
                                                                                        }}
                                                                                    </div>
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item
                                                                                                .material
                                                                                                .code
                                                                                        }}
                                                                                    </div>
                                                                                    <span
                                                                                        class="h-4 w-4 cursor-pointer rounded-full border border-gray-600"
                                                                                        [ngStyle]="{
                                                                                            'background-color':
                                                                                                item
                                                                                                    .material
                                                                                                    .colorCode,
                                                                                        }"
                                                                                        matTooltip="{{
                                                                                            item
                                                                                                .material
                                                                                                .colorCode
                                                                                        }}"
                                                                                    ></span>
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item.sizeWidth
                                                                                        }}
                                                                                        {{
                                                                                            item
                                                                                                .material
                                                                                                .sizeWidthUnit
                                                                                        }}
                                                                                    </div>
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item.consumption
                                                                                        }}
                                                                                        {{
                                                                                            item
                                                                                                .material
                                                                                                .consumptionUnit
                                                                                        }}
                                                                                    </div>
                                                                                </div>
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-tab>
                                                    </ng-container>

                                                    <ng-container
                                                        *ngIf="
                                                            specification.qualityStandards &&
                                                            specification
                                                                .qualityStandards
                                                                .length > 0
                                                        "
                                                    >
                                                        <mat-tab
                                                            label="Quality Standards List"
                                                        >
                                                            <div
                                                                class="flex flex-col gap-4"
                                                            >
                                                                <div
                                                                    class="quality-standard flex flex-col gap-2"
                                                                >
                                                                    <div
                                                                        class="grid w-full"
                                                                    >
                                                                        <div
                                                                            class="quality-standard-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                                                        >
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Thump
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Name
                                                                            </div>
                                                                            <div
                                                                                class="hidden sm:block"
                                                                            >
                                                                                Description
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="max-h-100 overflow-y-scroll"
                                                                        >
                                                                            <ng-container
                                                                                *ngFor="
                                                                                    let item of specification.qualityStandards
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="quality-standard-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                                                                >
                                                                                    <div
                                                                                        class="flex items-center"
                                                                                    >
                                                                                        <div
                                                                                            class="relative mr-6 flex h-12 w-12 flex-0 items-center justify-center overflow-hidden rounded border"
                                                                                        >
                                                                                            <img
                                                                                                class="w-8"
                                                                                                *ngIf="
                                                                                                    item.imageURL &&
                                                                                                    item
                                                                                                        .imageURL
                                                                                                        .length >
                                                                                                        0
                                                                                                "
                                                                                                [alt]="
                                                                                                    'Product image'
                                                                                                "
                                                                                                [src]="
                                                                                                    item
                                                                                                        .imageURL[0]
                                                                                                "
                                                                                            />
                                                                                            <div
                                                                                                class="flex h-full w-full items-center justify-center text-center text-xs font-semibold uppercase leading-none"
                                                                                                *ngIf="
                                                                                                    !item.imageURL ||
                                                                                                    !item
                                                                                                        .imageURL
                                                                                                        .length >
                                                                                                        0
                                                                                                "
                                                                                            >
                                                                                                NO
                                                                                                IMAGE
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item.name
                                                                                        }}
                                                                                    </div>
                                                                                    <div
                                                                                        class="hidden sm:block"
                                                                                    >
                                                                                        {{
                                                                                            item.description ||
                                                                                                'No Description'
                                                                                        }}
                                                                                    </div>
                                                                                </div>
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-tab>
                                                    </ng-container>
                                                </mat-tab-group>
                                            </ng-container>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-tab>
                </ng-container>
                <ng-container
                    *ngIf="
                        product.productionProcesses &&
                        product.productionProcesses.length > 0
                    "
                >
                    <mat-tab [label]="'PROCESSES List' | titlecase">
                        <div class="grid">
                            <div
                                class="product-processes-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            >
                                <div class="ml-6 hidden sm:block">No.</div>
                                <div class="mr-10 hidden sm:block">Code</div>
                                <div class="hidden sm:block">Name</div>
                                <div class="hidden sm:block">Description</div>
                            </div>
                            <div class="max-h-200 overflow-y-scroll">
                                <mat-accordion class="stepsList">
                                    <ng-container
                                        *ngFor="
                                            let item of product.productionProcesses
                                        "
                                    >
                                        <mat-expansion-panel
                                            class="m-0"
                                            (opened)="openProcessPanel(item.id)"
                                        >
                                            <mat-expansion-panel-header>
                                                <mat-panel-description
                                                    class="product-processes-item-grid grid items-center border-b py-3 hover:bg-gray-50 hover:text-gray-800 md:px-8"
                                                >
                                                    <div
                                                        class="hidden sm:block"
                                                    >
                                                        {{ item.orderNumber }}
                                                    </div>
                                                    <div
                                                        class="mr-10 hidden sm:block"
                                                    >
                                                        {{ item.code }}
                                                    </div>
                                                    <div
                                                        class="hidden sm:block"
                                                    >
                                                        {{ item.name }}
                                                    </div>
                                                    <div
                                                        class="hidden truncate sm:block"
                                                        [matTooltip]="
                                                            item.description ||
                                                                'Đây là tiến trình ' +
                                                                    item.name
                                                                | titlecase
                                                        "
                                                    >
                                                        {{
                                                            item.description ||
                                                                'Đây là tiến trình ' +
                                                                    item.name
                                                                | titlecase
                                                        }}
                                                    </div>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <ng-container *ngIf="stepsList">
                                                <div class="rounded-xl border">
                                                    <p
                                                        class="mx-8 my-4 text-lg font-bold"
                                                    >
                                                        Steps List
                                                    </p>
                                                    <div class="grid">
                                                        <div
                                                            class="product-processes-steps-list-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                                        >
                                                            <div
                                                                class="ml-6 hidden sm:block"
                                                            >
                                                                No.
                                                            </div>

                                                            <div
                                                                class="hidden sm:block"
                                                            >
                                                                Name
                                                            </div>
                                                            <div
                                                                class="hidden sm:block"
                                                            >
                                                                Code
                                                            </div>
                                                            <div
                                                                class="hidden sm:block"
                                                            >
                                                                Standard Time
                                                            </div>
                                                            <div
                                                                class="hidden sm:block"
                                                            >
                                                                Output Per Hour
                                                            </div>
                                                            <div
                                                                class="hidden sm:block"
                                                            >
                                                                Description
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="max-h-100 overflow-y-scroll"
                                                        >
                                                            <ng-container
                                                                *ngFor="
                                                                    let item of stepsList
                                                                "
                                                            >
                                                                <mat-accordion
                                                                    class="stepDetail"
                                                                >
                                                                    <mat-expansion-panel
                                                                        disabled
                                                                    >
                                                                        <mat-expansion-panel-header>
                                                                            <mat-panel-description
                                                                                class="product-processes-steps-item-grid m-0 grid items-center gap-4 border-b px-6 py-3 hover:bg-gray-50 hover:text-gray-800 md:px-8"
                                                                                (click)="
                                                                                    openStepDetailDialog(
                                                                                        item.id
                                                                                    )
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="hidden sm:block"
                                                                                >
                                                                                    {{
                                                                                        item.orderNumber
                                                                                    }}
                                                                                </div>
                                                                                <div
                                                                                    class="hidden sm:block"
                                                                                >
                                                                                    {{
                                                                                        item.name
                                                                                    }}
                                                                                </div>
                                                                                <div
                                                                                    class="hidden sm:block"
                                                                                >
                                                                                    {{
                                                                                        item.code
                                                                                    }}
                                                                                </div>
                                                                                <div
                                                                                    class="hidden sm:block"
                                                                                >
                                                                                    {{
                                                                                        item.standardTime
                                                                                    }}
                                                                                </div>
                                                                                <div
                                                                                    class="hidden sm:block"
                                                                                >
                                                                                    {{
                                                                                        item.outputPerHour
                                                                                    }}
                                                                                </div>
                                                                                <div
                                                                                    class="hidden truncate sm:block"
                                                                                    [matTooltip]="
                                                                                        item.description ||
                                                                                            'Đây là bước ' +
                                                                                                item.name
                                                                                            | titlecase
                                                                                    "
                                                                                >
                                                                                    {{
                                                                                        item.description ||
                                                                                            'Đây là bước ' +
                                                                                                item.name
                                                                                            | titlecase
                                                                                    }}
                                                                                </div>
                                                                            </mat-panel-description>
                                                                        </mat-expansion-panel-header>
                                                                    </mat-expansion-panel>
                                                                </mat-accordion>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
    </ng-container>
</div>

<router-outlet></router-outlet>
