.semi-finished-product-grid {
    grid-template-columns: auto auto 90px;
}

.product-specifications-grid {
    grid-template-columns: 50px auto 120px 50px;
}

.product-processes-grid {
    grid-template-columns: auto 200px 100px 50px;
}