<div
    class="-my-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col overflow-y-scroll p-8"
>
    <div class="font-poppins bg-card mx-8 my-6 rounded-lg p-8 dark:bg-gray-800">
        <div class="grid w-full grid-cols-12">
            <div class="col-span-4 flex">
                <div
                    class="relative mr-6 flex h-72 w-72 flex-0 items-center justify-center overflow-hidden rounded border"
                >
                    <img
                        class="w-8"
                        *ngIf="
                            product.imageURLs && product.imageURLs.length > 0
                        "
                        [alt]="'Product image'"
                        [src]="product.imageURLs[0]"
                    />
                    <div
                        class="flex h-full w-full items-center justify-center text-center text-xs font-semibold uppercase leading-none"
                        *ngIf="
                            !product.imageURLs ||
                            !(product.imageURLs.length > 0)
                        "
                    >
                        NO THUMB
                    </div>
                </div>
            </div>
            <div class="col-span-8 flex flex-col gap-4">
                <div class="product-name">
                    {{ product.name | uppercase }}
                </div>
                <div class="product-code">
                    Product Code - {{ product.code | uppercase }}
                </div>
                <div class="product-description">
                    {{ product.description }}
                </div>
                <div class="grid grid-cols-12">
                    <div class="col-span-4 flex flex-col gap-4">
                        <div class="size">
                            <span>SIZES</span>
                            <mat-chip-set aria-label="Dog selection">
                                <mat-chip *ngFor="let item of product.sizes">
                                    <!-- <img
                                        matChipAvatar
                                        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                        alt="Photo of a Shiba Inu"
                                    /> -->
                                    {{ item }}
                                </mat-chip>
                            </mat-chip-set>
                        </div>
                        <div class="color">
                            <span>COLORS</span>
                            <mat-chip-set aria-label="Dog selection">
                                <mat-chip *ngFor="let item of product.colors">
                                    <!-- <img
                                        matChipAvatar
                                        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                        alt="Photo of a Shiba Inu"
                                    /> -->
                                    {{ item }}
                                </mat-chip>
                            </mat-chip-set>
                        </div>
                        <div class="category">
                            <span>CATEGORY</span>
                            <mat-chip-set aria-label="Dog selection">
                                <mat-chip>
                                    <!-- <img
                                        matChipAvatar
                                        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                                        alt="Photo of a Shiba Inu"
                                    /> -->
                                    {{ product.category.name }}
                                </mat-chip>
                            </mat-chip-set>
                        </div>
                    </div>
                    <div class="col-span-8">
                        <div class="semi-finished-products flex flex-col gap-2">
                            <span>SEMI FINISHED PRODUCTS</span>
                            <div class="grid">
                                <div
                                    class="semi-finished-product-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                >
                                    <div class="hidden sm:block">Code</div>
                                    <div class="hidden sm:block">Name</div>
                                    <div class="hidden sm:block">Quantity</div>
                                </div>
                                <div
                                    class="semi-finished-product-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >
                                    <ng-container
                                        *ngFor="
                                            let item of product.semiFinishedProducts
                                        "
                                    >
                                        <div class="hidden sm:block">
                                            {{ item.code }}
                                        </div>
                                        <div class="hidden sm:block">
                                            {{ item.name }}
                                        </div>
                                        <div class="hidden sm:block">
                                            {{ item.quantity }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="semi-finished-products flex flex-col gap-2">
                    <span>SPECIFICATIONS</span>
                    <div class="grid">
                        <div
                            class="product-specifications-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Size</div>
                            <div class="hidden sm:block">Color</div>
                            <div class="hidden sm:block">
                                Inventory Quantity
                            </div>
                            <div class="hidden sm:block">Detail</div>
                        </div>
                        <div
                            class="product-specifications-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <ng-container
                                *ngFor="let item of product.specifications"
                            >
                                <div class="hidden sm:block">
                                    {{ item.size }}
                                </div>
                                <div class="hidden sm:block">
                                    {{ item.color }}
                                </div>
                                <div class="hidden sm:block">
                                    {{ item.inventoryQuantity }}
                                </div>
                                <div class="hidden sm:block">
                                    <span
                                        (click)="
                                            openSpecificationDetailDialog(item)
                                        "
                                    >
                                        <mat-icon
                                            class="cursor-pointer text-blue-500 icon-size-5"
                                            [svgIcon]="
                                                'heroicons_outline:pencil-square'
                                            "
                                        ></mat-icon>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="product-processes flex flex-col gap-2">
                    <span>PROCESSES</span>
                    <div class="grid">
                        <div
                            class="product-processes-grid text-secondary grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        >
                            <div class="hidden sm:block">Code</div>
                            <div class="hidden sm:block">Name</div>
                            <div class="hidden sm:block">Order Number</div>
                            <div class="hidden sm:block">Detail</div>
                        </div>
                        <div
                            class="product-processes-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                        >
                            <ng-container
                                *ngFor="let item of product.processes"
                            >
                                <div class="hidden sm:block">
                                    {{ item.code }}
                                </div>
                                <div class="hidden sm:block">
                                    {{ item.name }}
                                </div>
                                <div class="hidden sm:block">
                                    {{ item.orderNumber }}
                                </div>
                                <div class="hidden sm:block">
                                    <span
                                        (click)="openProcessDetailDialog(item)"
                                    >
                                        <mat-icon
                                            class="cursor-pointer text-blue-500 icon-size-5"
                                            [svgIcon]="
                                                'heroicons_outline:pencil-square'
                                            "
                                        ></mat-icon>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
