.semi-finished-product-grid {
    grid-template-columns: auto auto 90px;
}

.product-specifications-grid {
    grid-template-columns: 120px auto 120px 96px;
}

.product-processes-grid {
    grid-template-columns: auto auto 120px 96px;
}